.form-inputs{
  position:relative;
}
.form-inputs .form-control{
  height:45px;
}

.form-inputs .form-control:focus{
  box-shadow:none;
}

.form-inputs i{
  position:absolute;
  right:10px;
  top:15px;
}

.search-field-wrapper{
  height: 66px;
}
